@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to my HOME PAGE!</h1>
    <p>Ciao! My name is Karryl Shane S. Saldua</p>
    <p>A BSIT student from 32E2</p>
</div>

<style>
    h1 {
        font-size: 3em;
        color: #DC143C;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2em;
        color: #E9967A;
        text-align: center;

    }
</style>

