@{
    ViewData["Title"] = "School";
}

<div class="text-center">
    <h1 class="display-4">Class Subject Schedule</h1>
    <p>Subject: IT Elective 3 (Full Stack Development)</p>
    <p>Time: 10:00am - 1:00pm</p>
    <p>Day: Saturday</p>
</div>
<style>
    h1 {
        font-size: 2em;
        color: #DC143C;
        text-align: center;
        margin-bottom: 20px;
        border: 2px solid black;
        padding: 10px
    }

    p {

        font-size: 1.2em;
        color: #E9967A;
        text-align: center;
        border: 2px solid black;

    }
</style>

